:root{
    --main-font: 'Open Sans', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #ff6c00;

}

body {
    font-family: var(--main-font);
}


h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding: 0;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

.list
{
    list-style: none;
}

.link{
    text-decoration: none;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0;
    align-items: center;
}

.section{
    padding-top: 130px;
    padding-bottom: 130px;
}
/* ====  COMPONENTS  ==== */
.modal-btn{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    /* color: #ffffff; */
    padding: 12px;
}
.undertitle{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.333;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* color: rgba(1157, 164, 189, 0.6); */
    margin-bottom: 20px;
}

.undertitle-dark-theme{
    color: rgba(1157, 164, 189, 0.6);
}

.description{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: #555555;
}

.description-dark-theme{
    color: #9DA4BD;
}

.secondary-header{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.667;
    letter-spacing: 0.05em;
    color: #303030;
    margin-bottom: 20px;
}
.social-links{
    display: flex;
}
.social-links__item:not(:last-child){
    margin-right: 40px;
}

/* ===== HEADER  ==== */
.header .container{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;

}
.navigation__list{
    display: flex;
}

.navigation__list-link,
.header__phone-number{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.1em;
    /* color: #ffffff; */
}

.navigation__logo{
    margin-right: 70px;
}

.navigation__list-item:not(:last-child){
    margin-right: 41px;
}

.header__phone-number{
    margin-left: auto;
}
.header .modal-btn{
    margin-left: 37px;
}


.navigation__list-link:hover,
.navigation__list-link:focus
.header__phone-number:hover,
.header__phone-number:focus
{
    color: var(--main-color);
}



/* ===== END HEADER  ==== */

/* ===== HERO  ==== */
.social__links-link{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.364;
    letter-spacing: 0.2em;
    color: #303030;    
}
.social__links-link:hover,
.social__links-link:focus{
    color: var(--main-color);
}

.main-header{
    font-family: var(--secondary-font);
    font-size: 72px;
    font-weight: 700;
    line-height: 1.181;
    letter-spacing: 0.05em;
    /* color: #ffffff; */
    margin-bottom: 20px;
}

.hero__left-side{
    width: 100px;
}
.hero__right-side{
    padding-left: 100px;
    padding-bottom: 206px;
    padding-top: 270px;
}

.hero .description{
    width: 366px;
}
/* ===== END HERO  ==== */

/* ====== about us ========= */
.about .container{
    display: flex;
}
.about__list{
    display: flex;

}
.about__list-item:not(:last-child){
    margin-right: 30px;
}
.about__right-side{
    margin-left: 65px;
    width: 500;
}
.about__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.857;
    letter-spacing: 0.02em;
    color: #555555;
}

.about .description{
    margin-bottom: 20px;
}
.about__text{
    margin-bottom: 40px;
}
/* ====== end about us ========= */

/* ===== SERVICES ===== */
.services__list-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
.services .secondary-header{
    padding-bottom: 44px;
}

.services-wrapper{
    display: flex;
    margin-bottom: 46px;
}

.services__list-item:not(:last-child){
    margin-bottom: 20px;
}
.services__list{
    width: 50%;
    padding: 30px 40px;  
    flex-wrap: wrap;  
}

.services .modal-btn{
    display: block;
    margin: 0 auto;
}
/* ===== END SERVICES ===== */
/* ===== ADVANTAGES ==== */
.advantages .container{
    display: flex;
}
.advantages-left-side{
    width: 470px;
    padding-left: 100px;
    flex-shrink: 0;
}
.advantages__number{
    font-style: 700;
    font-size: 42px;
    line-height: 1.357;
    letter-spacing: 0.05em;
    color: #303030;
}
.advantages__list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.advantages__item{
    width: 170px;
    padding: 20px 24px;
    align-items: center;
    min-height: 133px;
    border: solid 1px #303030;
}
.advantages__item:not(:nth-child(even)){
    margin-right: 30px;
}

.advantages__item:nth-child(even){
    margin-top: 30px;
}
.advantages-right-side{
    padding-left: 130px;
    
}
.advantages .description{
    width: 445px;
}
.advantages__text{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.363;
    letter-spacing: 0em;
    color:#303030;
}


/* ===== end ADVANTAGES ==== */

/* ===== barbers ===== */
.barbers .secondary-header{
    margin-bottom: 44px;
}
.barbers__list{
    display: flex;
    justify-content: space-between;
}
.barbers-card-wrapper{
    padding-top: 30px;
    padding-left: 82px;
    padding-right: 82px;    
}

.barbers__name{
    font-size: 18px;
    line-height: 1.389;
    letter-spacing: 0.02em;
    color: #303030;
    text-align: center;
    margin-bottom: 8px;
}

.barbers__job-title{
    font-size: 14px;
    line-height: 1.357;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 30px;
}

/* ===== END barbers ===== */


/* ===== gallery ===== */
.gallery .undertitle{
    margin-bottom: 44px;
}
.gallery__list{
    display: flex;
    justify-content: space-between;
}



/* ===== END gallery ===== */


/* ===== contact ===== */
.contact .secondary-header{
    margin-bottom: 40px;
}
.address{
    margin-bottom: 70px;
}
.address__item:not(:last-child){
    margin-bottom: 20px;
}
.address__item:first-child{
    width: 165px;
}
.
/* .contact .undertitle{
    color: #ffffff;
} */

.address__item-link,
.contact__hours{
    font-style:normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}


/* ===== END contact ===== */

/* ===== FOOTER ===== */
.footer{
    padding-top: 56px;
    padding-bottom: 56px;

}
.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.363;
    letter-spacing: 0.2em;
    color: #9DA4BD;
}
/* ===== END FOOTER ===== */


