









/* ===== END HEADER  ==== */

/* ===== HERO  ==== */



/* ===== END HERO  ==== */

/* ====== about us ========= */

/* ====== end about us ========= */

/* ===== SERVICES ===== */

/* ===== END SERVICES ===== */

/* =====  IMG SERVICES IMG===== */
.img-services {
  background-image: url("../images/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #111319;
}

.img-services-wrapper {
  display: flex;
  margin-bottom: 46px;
}



.img-services__list {
  width: 50%;
  padding: 30px 40px;
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
  flex-wrap: wrap;
}

.img-services__list-name,
.img-services__list-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
  padding-right: 5px;
  padding-right: 5px;
}

.img-services__list-item {
  display: flex;
  align-items: baseline;
}
.img-services__line {
  display: block;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 6px;
}

.img-services__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services__list:nth-child(odd) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services__list:nth-child(even) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

/* ===== END IMG SERVICES IMG===== */

/* ===== ADVANTAGES ==== */


/* ===== end ADVANTAGES ==== */

/* ===== barbers ===== */





/* ===== END barbers ===== */

/* ===== gallery ===== */

/* ===== END gallery ===== */

/* ===== contact ===== */



/***********  CONTACT FORM ***/
.contact-form-section {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-right: 25px;
}

.contact-form {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}

.contact-form ::placeholder {
  text-transform: uppercase;
}

.contact-form__input {
  width: 260px;
  height: 24px;
  font-size: 11px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  color: #fff;
  margin-bottom: 44px;
  transition: all 250mc linear;
}

.contact-form__input:focus,
.contact-form__message:focus {
  outline: none;
  border-color: #fff;
}

.contact-form__input:focus::placeholder {
  color: #fff;
}

.contact-form__message {
  width: 100%;
  height: 76px;
  font-size: 11px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  resize: none;
  color: #fff;
  margin-bottom: 44px;
  transition: all 250ms linear;
}

.contact-form__btn {
  min-width: 160px;
  border: 1px solid var(--main-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
  color: #fff;
  margin: 0 auto;
  transition: all 250ms linear;
}
.contact-form__btn:hover,
.contact-form__btn:focus {
  background-color: var(--main-color);
  color: #fff;
}
/* ===== END contact ===== */

/* ===== FOOTER ===== */

/*****  REZERWACJA  ****/

/* ===== END FOOTER ===== */

/***   BACKDROP***/



/***   END BACKDROP***/
