.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #555555;
  margin-top: 20px;
}

.description-dark-theme {
  color: #9da4bd;
}

.hero .description {
  width: 366px;
  color: #9da4bd;
}

.about .description {
  margin-bottom: 20px;
}

.advantages .description {
  width: 445px;
}